<%= form_for(@club, html: {multipart: true, role: "form"}) do |f| %>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4>Contact</h4>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="image-table-area">
        <div class="form-group">
          <%= f.label :club_name %>
          <%= f.text_field :club_name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :club_leader %>
          <%= f.text_field :club_leader, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :contact_email %>
          <%= f.email_field :contact_email, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :contact_number %>
          <%= f.number_field :contact_number, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :meeting_time %>
          <%= f.text_field :meeting_time, class:"form-control", placeholder: "Eg. Every other Sunday at 2pm" %>
        </div>
        <div class="form-group">
          <%= f.label :meeting_address %>
          <p class="dashboard-p">Separate the address lines with commas and no spaces</p>
          <%= f.text_field :meeting_address, class:"form-control", placeholder: "Eg. 23 York Road,London,W1H 1BD" %>
        </div>
      </div>  
    </div>
  </div>
  <hr></hr>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4>Social</h4>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="image-table-area">
        <div class="form-group">
          <%= f.label :club_name %>
          <%= f.text_field :club_name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :club_leader %>
          <%= f.text_field :club_leader, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :contact_email %>
          <%= f.email_field :contact_email, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :contact_number %>
          <%= f.number_field :contact_number, class:"form-control" %>
        </div>
      </div>  
    </div>
  </div>
  <hr></hr>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4>Website</h4>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="image-table-area">
        <div class="form-group">
          <%= f.label :club_logo %>
          <% if !club.club_logo.blank? %>
            <div class="">
              <small style="vertical-align: top; font-size: 14px;">Current:</small>
              <%= image_tag(club.club_logo.url(:thumb)) %>
            </div>
          <% end %>
          <%= f.file_field :club_logo %>
        </div>
        <div class="form-group">
          <%= f.label :bg_image, "Website Background" %>
            <% if !club.bg_image.blank? %>
            <div class="">
              <small style="vertical-align: top; font-size: 14px;">Current:</small>
              <%= image_tag(club.bg_image.url(:thumb)) %>
            </div>
          <% end %>
          <div style="margin-top: 20px;">
            <%= f.file_field :bg_image %>  
          </div>
        </div>
        <div class="form-group">
          <%= f.label :bg_image, "Website Background" %>
            <% if !club.bg_image.blank? %>
            <div class="">
              <small style="vertical-align: top; font-size: 14px;">Current:</small>
              <%= image_tag(club.bg_image.url(:thumb)) %>
            </div>
          <% end %>
          <div style="margin-top: 20px;">
            <%= f.file_field :bg_image %>  
          </div>
        </div>
        <div class="form-group">
          <%= f.label :bg_image, "Website Background" %>
            <% if !club.bg_image.blank? %>
            <div class="">
              <small style="vertical-align: top; font-size: 14px;">Current:</small>
              <%= image_tag(club.bg_image.url(:thumb)) %>
            </div>
          <% end %>
          <div style="margin-top: 20px;">
            <%= f.file_field :bg_image %>  
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="form-group">
    <div class="right">
      <%= f.submit class:"btn btn-phab-form btn-md" %>
    </div>
  </div>
<% end %>