<div class="content__title">
    <h2 id="pg_<%=handlise(obj.title) %>">
        <%= obj.title %>
    </h2>
    <hr class="phab-separator">
    <!--<h1 style="margin: 0; line-height: 1; font-size: 32px;">~</h1>-->
    <% if obj.site_page == "event" && !obj.date_of_event.blank? %>
        <small class="event-details">
            <i class="fa fa-calendar"></i> <%= obj.date_of_event.strftime("%-d %B %Y") %>
        </small>    
    <% end %>
    <% if obj.site_page == "event" && !obj.time_of_event.blank? %>
        <br>
        <small class="event-details">
            <i class="glyphicon glyphicon-time"></i> <%= obj.time_of_event.strftime("%l:%M%P") %>
        </small>
    <% end %>
</div>
<% if obj.links_position == "top" && !obj.link_text_one.blank? %>
    <div class="row related-links top">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="related-links-title" style="font-size: 24px;">Important Links: </h4>
            <ul class="related-links-list">
                <% if !obj.link_text_one.blank? && (!obj.link_url_one.blank? || !obj.link_pdf_one.blank?) %>
                    <li style="font-size: 18px;"><%= link_to obj.link_text_one, "#{obj.link_url_one.blank? ? obj.link_pdf_one.url : obj.link_url_one}", class: "related-link", target: "_blank" %></li>
                <% end %>
                <% if !obj.link_text_two.blank? && (!obj.link_url_two.blank? || !obj.link_pdf_two.blank?)  %>
                    <li style="font-size: 18px;"><%= link_to obj.link_text_two, "#{obj.link_url_two.blank? ? obj.link_pdf_two.url : obj.link_url_two}", class: "related-link", target: "_blank" %></li>
                <% end %>
                <% if !obj.link_text_three.blank? && (!obj.link_url_three.blank? || !obj.link_pdf_three.blank?)  %>
                    <li style="font-size: 18px;"><%= link_to obj.link_text_three, "#{obj.link_url_three.blank? ? obj.link_pdf_three.url : obj.link_url_three}", class: "related-link", target: "_blank" %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
<div class="content__text">
    <% if !obj.img_one.blank? && obj.img_one_format == "in-square" %>
        <%= image_tag(obj.img_one.url, class:"inline-square") %>
    <% end %>
    <div class="content-block" id="text_box_one"><%= sanitize obj.content_one %></div>
    <% if !obj.img_one.blank? && obj.img_one_format != "in-square" %>
        <div class="image-separator">
            <% if obj.img_one_format == "banner" %>
                <%= image_tag(obj.img_one.url, class:"banner") %> 
            <% elsif obj.img_one_format == "square-sep" %>
                <%= image_tag(obj.img_one.url, class:"square-sep") %>
            <% end %>
        </div>
    <% end %>
    <% if !obj.img_one.blank? && obj.img_one_format == "in-square" %>
        <% if !obj.img_two.blank? && obj.img_two_format != "in-square" %>
            <div class="image-separator">
                <% if obj.img_two_format == "banner" && !obj.img_one.blank? %>
                    <%= image_tag(obj.img_two.url, class:"banner") %> 
                <% elsif obj.img_two_format == "square-sep" && !obj.img_one.blank? %>
                    <%= image_tag(obj.img_two.url, class:"square-sep") %>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <% if !obj.img_two_format.blank? && obj.img_two_format == "in-square" %>
        <%= image_tag(obj.img_two.url, class:"inline-square") %>
    <% end %>
    <% if !obj.content_two.blank? %>
        <div class="content-block"><%= sanitize obj.content_two %></div>
        <% if !obj.img_two.blank? && !obj.img_one.blank? %>
            <% if obj.img_one_format == "banner" || obj.img_one_format == "square-sep" %>
                <div class="image-separator">
                    <% if obj.img_two_format == "banner" && !obj.img_one.blank? %>
                        <%= image_tag(obj.img_two.url, class:"banner") %> 
                    <% elsif obj.img_two_format == "square-sep" %>
                        <%= image_tag(obj.img_two.url, class:"square-sep") %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        <% if obj.img_one_format == "in-square" || obj.img_two_format == "in-square" %>
            <div class="image-separator">
                <% if obj.img_three_format == "banner" && !obj.img_three.blank? %>
                    <%= image_tag(obj.img_three.url, class:"banner") %> 
                <% elsif obj.img_three_format == "square-sep" && !obj.img_three.blank? %>
                    <%= image_tag(obj.img_three.url, class:"square-sep") %>
                <% end %>
            </div>
        <% end %>
        <% if !obj.img_three.blank? && obj.img_three_format == "in-square" %>
            <%= image_tag(obj.img_three.url, class:"inline-square") %>
        <% end %>
        <% if !obj.content_three.blank? %>
            <div class="content-block"><%= sanitize obj.content_three %></div>
        <% end %>
        <% if !obj.img_three.blank? && (obj.img_three_format == "banner" || obj.img_three_format == "square-sep" )%>
            <% if obj.img_one_format != "in-square" && obj.img_two_format != "in-square" %>
                <div class="image-separator">
                    <% if obj.img_three_format == "banner" %>
                        <%= image_tag(obj.img_three.url, class:"banner") %> 
                    <% elsif obj.img_three_format == "square-sep" %>
                        <%= image_tag(obj.img_three.url, class:"square-sep") %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <% if admin_signed_in? %>
        <%= render partial: "admin_cta_bar", locals: { obj: obj, padding_vertical: "0px" } %> 
    <% end %>
</div>
<% if obj.links_position == "bottom" && !obj.link_text_one.blank? %>
    <div class="row related-links">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <hr></hr>
            <h2 class="related-links-title" style="color: #56A644 !important">Related Links: </h2>
            <ul class="related-links-list">
                <% if !obj.link_text_one.blank? && (!obj.link_url_one.blank? || !obj.link_pdf_one.blank?) %>
                    <li style="font-size: 18px;"><%= link_to obj.link_text_one, "#{obj.link_url_one.blank? ? obj.link_pdf_one.url : obj.link_url_one}", class: "related-link", target: "_blank" %></li>
                <% end %>
                <% if !obj.link_text_two.blank? && (!obj.link_url_two.blank? || !obj.link_pdf_two.blank?)  %>
                    <li style="font-size: 18px;"><%= link_to obj.link_text_two, "#{obj.link_url_two.blank? ? obj.link_pdf_two.url : obj.link_url_two}", class: "related-link", target: "_blank" %></li>
                <% end %>
                <% if !obj.link_text_three.blank? && (!obj.link_url_three.blank? || !obj.link_pdf_three.blank?)  %>
                    <li style="font-size: 18px;"><%= link_to obj.link_text_three, "#{obj.link_url_three.blank? ? obj.link_pdf_three.url : obj.link_url_three}", class: "related-link", target: "_blank" %></li>
                <% end %>
            </ul>
            <hr></hr>
        </div>
    </div>
<% end %>
<% unless obj.site_page == "home" %>
    <div class="row article__cta">
        <div class="col-xs-4">
            <p class="article__details" style="margin: 0 !important;">
                <%= time_ago_in_words(obj.created_at) %> ago
            </p>
        </div>
        <div class="col-xs-8" style="display: flex; justify-content: flex-end;">
            <span class="share-text">Share On:</span>
            <%= social_share_button_tag(obj.title, desc: obj.title) %>
        </div>
    </div>
<% end %>
