<tr>
  <td><%= link_to obj.title, page_path(obj) %></td>
  <td><%= truncate(obj.content_one, length: 53) %></td>
  <td class="text-center">
    <% if obj.published == true %>
      Yes
    <% else %>
      No
    <% end %>
  </td>
  <td style="text-align:right;">
    <% if obj.published == false %>
      <%= link_to page_path(obj) do %>
        <i class="fa fa-eye btn btn-sm btn-primary"></i>
      <% end %>
      <%= link_to published_page_path(obj) do %>
        <i class="fa fa-check btn btn-sm btn-success"></i>
      <% end %>
    <% else %>
      <%= link_to published_page_path(obj) do %>
        <i class="fa fa-times btn btn-sm btn-danger"></i>
      <% end %>
    <% end %>
    <%= link_to edit_page_path(obj) do %>
      <i class="fa fa-edit btn btn-sm btn-default"></i>
    <% end %>
    <%= link_to page_path(obj), method: :delete, data: 
      {confirm: "Are you sure you want to delete this article?"} do %>
      <i class="fa fa-trash btn btn-sm btn-danger"></i>
    <% end %>
  </td>
</tr>
