<div class="content article-preview-block">
    <div class="article-preview-header">
        <h2 class="article-preview-title">
            <%= link_to obj.title, page_path(obj) %>
        </h2>    
    </div>
    <div class="article-preview-content">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 img-preview-box hidden-xs">
                <% if !obj.img_one.blank? %>
                    <%= link_to page_path(obj) do %>
                        <%= image_tag(obj.img_one.url(:medium), class:"article-preview-img") %>
                    <% end %>
                <% else %>
                    <%= link_to page_path(obj) do %>
                        <%= image_tag(club.club_logo.url(:medium), class:"article-preview-img") %>
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 article-preview-text-block">
                <div class="article-preview-text">
                    <%= sanitize(obj.content_one.truncate(200)) %>
                </div>
                <%= link_to "Read more...", page_path(obj), class:"read-more-link" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="article-preview-date"><small><%= time_ago_in_words(obj.created_at) %> ago</small></span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <%= social_share_button_tag(obj.title, desc: obj.title) %>
            </div>
        </div>    
    </div>
    
</div>