<tr>
  <td><%= link_to obj.title, page_path(obj) %></td>
  <td class="hidden-xs"><%= sanitize(obj.content_one.truncate(53, separator: /\s/)) %></td>
  <td class="text-center">
    <% if obj.published == true %>
      Yes
    <% else %>
      No
    <% end %>
  </td>
  <td style="text-align:center;">
    <li class="list-unstyled dropdown">
      <i class="glyphicon glyphicon-option-vertical" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right">
        <% if obj.published == false %>
          <li><%= link_to "Preview", page_path(obj) %></li>
          <li><%= link_to "Publish", published_page_path(obj) %></li>
        <% else %>
          <li><%= link_to "Unpublish", published_page_path(obj) %></li>
        <% end %>
        <li><%= link_to "Edit", edit_page_path(obj, site_page: obj.site_page) %></li>
        <li>
          <%= link_to "Delete", page_path(obj), method: :delete, data: 
            {confirm: "Are you sure you want to delete this article?"} %>
        </li>
      </ul>
    </li>
  </td>
</tr>