<% if params[:site_page] == "volunteer" %>
<style>
  .trix-button:not(:disabled) {
    background-color: rgba(86, 166, 68, 0.1) !important;
  }
  .edit-img-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .edit-img-container a {
    margin-left: 10px;
  }
  .tooltip .tooltip-inner {
    color: white !important;
    font-size: 14px;
  }
</style>
<%= form_for(@page, html: {multipart: true, role: "form"}) do |f| %>
  <%= f.hidden_field :admin_id, value: current_admin.id %>
  <%= f.hidden_field :site_page, value: params[:site_page] %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :title, "Name" %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.text_field :title, class:"form-control", placeholder: "Volunteer's name...", autofocus: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :content_one, "Bio" %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.hidden_field :content_one, id: "post_body" %>
        <trix-editor input="post_body"></trix-editor>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :img_one, "Picture" %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <% if !@page.img_one.blank? %>
              <div class="edit-img-container">
                <%= image_tag(@page.img_one.url(:thumb), class:"thumbnail", style:"margin-bottom: 0px !important;") %>
                <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "img_one"), method: :put, data: 
                            {confirm: "Are you sure you want to delete this picture?"}, class:"btn btn-md btn-danger" %>
              </div>
            <% end %>
            <%= f.file_field :img_one %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="right">
      <%= f.submit class:"btn btn-phab-form btn-md", id:"article_form" %>
    </div>
  </div>
<% end %>
<script>
  $(document).on("turbolinks:load", function() {
    $("select").each( function() {
      if (!$(this).hasClass("form-control")) {
        $(this).addClass("form-control");
      }
    })
  });
</script>
<% else %>

<style>
  .trix-button:not(:disabled) {
    background-color: rgba(86, 166, 68, 0.1) !important;
  }
  .edit-img-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .edit-img-container a {
    margin-left: 10px;
  }
  
  .tooltip .tooltip-inner {
    color: white !important;
    font-size: 14px;
  }
  
  .related-cta-row {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  
  .ml-1 {
    margin-left: 10px;
  }
  
  .btn-phab {
    min-width: auto !important;
  }
  
  .banner-img-row {
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 991px) {
    .mt-1 {
      margin-top: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .banner-img-row {
      margin-top: 20px;
    }
  }
</style>
<%= form_for(@page, html: {multipart: true, role: "form"}) do |f| %>
    <%#= f.label :site_page, "Page" %>
    <%# if params[:site_page].present? %>
        <%#= select_tag "page[site_page]", options_for_select([["Home", "home"], ["Event", "event"], ["News", "news"], ["About", "about"]], params[:site_page]), class: "form-control" %>
    <%# else %>
        <%#= select_tag "page[site_page]", options_for_select([["Home", "home"], ["Event", "event"], ["News", "news"], ["About", "about"]], f.object.site_page ), class: "form-control" %>
    <%# end %>
  <%= f.hidden_field :admin_id, value: current_admin.id %>
  <%= f.hidden_field :site_page, value: params[:site_page] %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :title %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.text_field :title, class:"form-control", placeholder: "Article title...", autofocus: true %>
      </div>
    </div>
  </div>
  <% if params[:site_page] == "event" %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= f.label :date_of_event, "Date and time of event" %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <div>
              <i class="fa fa-calendar" style="padding-right: 8px;"></i>
              <div class="date-group">
                <%= f.date_select :date_of_event, value:"#{Date.today.strftime("%Y-%m-%d")}" %>
              </div>
            </div>
            <div style="padding-top: 6px;">
              <i class="glyphicon glyphicon-time" style="padding-right: 8px;"></i>
              <div class="date-group">
                <%= f.time_select(:time_of_event, class:"form-control", ignore_date: true) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label "First Block" %>
        <p class="dashboard-p">To include a link, highlight the text you want to turn into a link and click on the <i class="fa fa-link" style="padding: 0 3px;"></i> icon. You have to add the http:// or https:// for the link to be valid.</p>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.hidden_field :content_one, id: "post_body" %>
        <trix-editor input="post_body"></trix-editor>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :img_one, "First Image & Format" %> <em>(optional)</em>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <% if !@page.img_one.blank? %>
              <div class="edit-img-container">
                <%= image_tag(@page.img_one.url(:thumb), class:"thumbnail", style:"margin-bottom: 0px !important;") %>
                <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "img_one"), method: :put, data: 
                            {confirm: "Are you sure you want to delete this picture?"}, class:"btn btn-md btn-danger" %>
              </div>
            <% end %>
            <%= f.file_field :img_one %>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 banner-img-row">
            <a href="#" data-toggle="tooltip" data-placement="top"  title="Use Banner for landscape images, Square for portrait and Inline to make the text wrap around the image" style="padding: 10px;"><i class="fa fa-info"></i></a>
            <%= select_tag "page[img_one_format]", options_for_select([["Banner Separator", "banner"], ["Square Separator", "square-sep"], ["Inline Square", "in-square"]], f.object.img_one_format), class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="form-separator"></hr>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label "Second Block" %> <em>(optional)</em>
        <p class="dashboard-p">To include a link, highlight the text you want to turn into a link and click on the <i class="fa fa-link" style="padding: 0 3px;"></i> icon. You have to add the http:// or https:// for the link to be valid.</p>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.hidden_field :content_two, id: "post_body_two" %>
        <trix-editor input="post_body_two"></trix-editor>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :img_two, "Second Image & Format" %> <em>(optional)</em>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <% if !@page.img_two.blank? %>
              <div class="edit-img-container">
                <%= image_tag(@page.img_two.url(:thumb), class:"thumbnail", style:"margin-bottom: 0px !important;") %>
                <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "img_two"), method: :put, data: 
                            {confirm: "Are you sure you want to delete this picture?"}, class:"btn btn-md btn-danger" %>
              </div>
            <% end %>
            <%= f.file_field :img_two %>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 banner-img-row">
            <a href="#" data-toggle="tooltip" data-placement="top"  title="Use Banner for landscape images, Square for portrait and Inline to make the text wrap around the image" style="padding: 10px;"><i class="fa fa-info"></i></a>
            <%= select_tag "page[img_two_format]", options_for_select([["Banner Separator", "banner"], ["Square Separator", "square-sep"], ["Inline Square", "in-square"]], f.object.img_two_format), class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="form-separator"></hr>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label "Third Block" %> <em>(optional)</em>
        <p class="dashboard-p">To include a link, highlight the text you want to turn into a link and click on the <i class="fa fa-link" style="padding: 0 3px;"></i> icon. You have to add the http:// or https:// for the link to be valid.</p>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.hidden_field :content_three, id: "post_body_three" %>
        <trix-editor input="post_body_three"></trix-editor>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :img_three, "Third Image & Format" %> <em>(optional)</em>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <% if !@page.img_three.blank? %>
              <div class="edit-img-container">
                <%= image_tag(@page.img_three.url(:thumb), class:"thumbnail", style:"margin-bottom: 0px !important;") %>
                <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "img_three"), method: :put, data: 
                            {confirm: "Are you sure you want to delete this picture?"}, class:"btn btn-md btn-danger" %>
              </div>
            <% end %>
            <%= f.file_field :img_three %>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 banner-img-row">
            <a href="#" data-toggle="tooltip" data-placement="top"  title="Use Banner for landscape images, Square for portrait and Inline to make the text wrap around the image" style="padding: 10px;"><i class="fa fa-info"></i></a>
            <%= select_tag "page[img_three_format]", options_for_select([["Banner Separator", "banner"], ["Square Separator", "square-sep"], ["Inline Square", "in-square"]], f.object.img_three_format), class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if params[:site_page] != "home" && params[:site_page] != "about" %>
    <hr class="form-separator"></hr>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= f.label :links_position, "Related links" %> <em>(optional)</em>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row related-link-inputs">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= f.label "Position" %>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= select_tag "page[links_position]", options_for_select([["Top", "top"], ["Bottom", "bottom"]], f.object.links_position), class: "form-control" %>
            </div>
          </div>
          <hr></hr>
          <div class="row related-link-inputs">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <%= f.label "Text" %>
              <%= f.text_field :link_text_one, class:"form-control", placeholder: "Eg. Click here" %>
            </div>
            <div class="related-block-1 col-md-6 col-sm-12 col-xs-12 mt-1">
              <%= f.label "Content" %>
              <div <% if !@page.link_pdf_one.blank? || !@page.link_url_one.blank? %>style="display: none;"<% end %> class="related-cta-row">
                <button type="button" class="display_url btn btn-md btn-phab" style="margin: 0;">Link</button>
                <p class="or_text dashboard-p">OR</p>
                <button type="button" class="display_pdf btn btn-md btn-phab" style="margin: 0;">PDF</button>
              </div>
              <div class="show_url" <% if @page.link_url_one.blank? %>style="display: none;"<% end %>>
                <%= f.text_field :link_url_one, class:"form-control", placeholder: "Eg. www.google.com" %>
              </div>
              <div class="show_pdf" <% if @page.link_pdf_one.blank? %>style="display: none;"<% end %>>
                <% if @page.link_pdf_one.blank? %>
                  <%= f.file_field :link_pdf_one %>
                <% else %>
                  <%= link_to @page.link_pdf_one_file_name, @page.link_pdf_one.url, target: "_blank" %>
                  <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "pdf_one"), method: :put, data: 
                                {confirm: "Are you sure you want to delete this PDF?"}, class:"btn btn-md btn-danger ml-1"  %>
                <% end %>
              </div>
              <button type="button" class="switch_option btn btn-md btn-danger" style="margin-top: 10px; <% if @page.link_url_one.blank? %>display: none;<% end %>">Switch</button>
            </div>
          </div>
          <hr></hr>
          <div class="row related-link-inputs">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <%= f.label "Text" %>
              <%= f.text_field :link_text_two, class:"form-control", placeholder: "Eg. Click here" %>
            </div>
            <div class="related-block-2 col-md-6 col-sm-12 col-xs-12 mt-1">
              <%= f.label "Content" %>
              <div <% if !@page.link_pdf_two.blank? || !@page.link_url_two.blank? %>style="display: none;"<% end %> class="related-cta-row">
                <button type="button" class="display_url btn btn-md btn-phab" style="margin: 0;">Link</button>
                <p class="or_text dashboard-p">OR</p>
                <button type="button" class="display_pdf btn btn-md btn-phab" style="margin: 0;">PDF</button>
              </div>
              <div class="show_url" <% if @page.link_url_two.blank? %>style="display: none;"<% end %>>
                <%= f.text_field :link_url_two, class:"form-control", placeholder: "Eg. www.google.com" %>
              </div>
              <div class="show_pdf" <% if @page.link_pdf_two.blank? %>style="display: none;"<% end %>>
                <% if @page.link_pdf_two.blank? %>
                  <%= f.file_field :link_pdf_two %>
                <% else %>
                  <%= link_to @page.link_pdf_one_file_name, @page.link_pdf_two.url, target: "_blank" %>
                  <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "pdf_two"), method: :put, data: 
                                {confirm: "Are you sure you want to delete this PDF?"}, class:"btn btn-md btn-danger ml-1"  %>
                <% end %>
              </div>
              <button type="button" class="switch_option btn btn-md btn-danger" style="margin-top: 10px; <% if @page.link_url_two.blank? %>display: none;<% end %>">Switch</button>
            </div>
          </div>
          <hr></hr>
          <div class="row related-link-inputs">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <%= f.label "Text" %>
              <%= f.text_field :link_text_three, class:"form-control", placeholder: "Eg. Click here" %>
            </div>
            <div class="related-block-3 col-md-6 col-sm-12 col-xs-12 mt-1">
              <%= f.label "Content" %>
              <div <% if !@page.link_pdf_three.blank? || !@page.link_url_three.blank? %>style="display: none;"<% end %> class="related-cta-row">
                <button type="button" class="display_url btn btn-md btn-phab" style="margin: 0;">Link</button>
                <p class="or_text dashboard-p">OR</p>
                <button type="button" class="display_pdf btn btn-md btn-phab" style="margin: 0;">PDF</button>
              </div>
              <div class="show_url" <% if @page.link_url_three.blank? %>style="display: none;"<% end %>>
                <%= f.text_field :link_url_three, class:"form-control", placeholder: "Eg. www.google.com" %>
              </div>
              <div class="show_pdf" <% if @page.link_pdf_three.blank? %>style="display: none;"<% end %>>
                <% if @page.link_pdf_three.blank? %>
                  <%= f.file_field :link_pdf_three %>
                <% else %>
                  <%= link_to @page.link_pdf_one_file_name, @page.link_pdf_three.url, target: "_blank" %>
                  <%= link_to 'Delete', remove_image_page_path(id: @page.id, item: "pdf_three"), method: :put, data: 
                                {confirm: "Are you sure you want to delete this PDF?"}, class:"btn btn-md btn-danger ml-1"  %>
                <% end %>
              </div>
              <button type="button" class="switch_option btn btn-md btn-danger" style="margin-top: 10px; <% if @page.link_url_three.blank? %>display: none;<% end %>">Switch</button>
            </div>
          </div>
          <hr></hr>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="right">
      <%= f.submit class:"btn btn-phab-form btn-md", id:"article_form" %>
    </div>
  </div>
<% end %>
<script>
  $(document).on("turbolinks:load", function() {
    $("body").on("click", ".display_url", function() {
      var container = $(this).parents("div[class^='related-block-']");
      container.find(".show_pdf, .related-cta-row").hide();
      container.find(".show_url, .switch_option").show();
    })
    $("body").on("click", ".display_pdf", function() {
      var container = $(this).parents("div[class^='related-block-']");
      container.find(".show_url, .related-cta-row").hide();
      container.find(".show_pdf, .switch_option").show();
      container.find("input[type='text']").val("");
    })
    $("body").on("click", ".switch_option", function() {
      var container = $(this).parents("div[class^='related-block-']");
      container.find(".related-cta-row").show();
      container.find(".show_pdf, .show_url, .switch_option").hide();
    });
    $("select").each( function() {
      if (!$(this).hasClass("form-control")) {
        $(this).addClass("form-control");
      }
    })
  });
</script>
<% end %>