<style>
    .home-row {    
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 0px 0px 40px 0px;
    }    
    .home-header {
        flex: 1 1 30%;
        padding-right: 20px;
    }
    .home-content {
        flex: 1 1 70%;
        border-left: 4px solid #56A644;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 18px;
        
        
    }
    .home-content img {
        display: block;
        margin: 0 auto;
        padding: 20px;
        border-radius: 16px;
    }
    
    @media (max-width: 769px) {
        .home-row {    
            flex-wrap: wrap;
        }    
        .home-content,
        .home-header {
            flex: 1 1 100% !important;
            padding-bottom: 30px;
        }
        .home-content {
            margin-left: 30px;
        }
        
        .home-header h2 {
            margin-top: 0 !important;
        }
    }
</style>
<% if !club.blank? && !club.contact_banner_img.blank? %>
    <%= render partial: "page-header", locals: { bg_img: club.contact_banner_img, title: "Contact Us", color: "#D94240" } %>
<% end %>
<div class="container-fluid pipe-container <% if !club.blank? && club.contact_banner_img.blank? %>page-show<% end %>" id="container_contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="outer-well">
                    <div class="content">
                        <div class="home-row">
                            <div class="home-header">
                                <h2 style="color: #56A644;">Club Leader</h2>
                            </div>
                            <div class="home-content">
                                <% if !club.club_leader.blank? %>
                                    <p class="address-line">
                                        <%=- club.club_leader -%>
                                    </p>
                                <% end %>
                                <% if !club.contact_number.blank? %>
                                    <p class="address-line">
                                        <%=- club.contact_number -%>
                                    </p>
                                <% end %>
                                <% if !club.contact_email.blank? %>
                                    <p class="address-line">
                                        <%=- club.contact_email -%>
                                    </p>
                                <% end %>
                            </div>
                        </div>
                        <% if !club.split_address.blank? || !club.meeting_time.blank? %>
                            <div class="home-row">
                                <div class="home-header">
                                    <h2 style="color: #56A644;">Club Meeting</h2>
                                </div>
                                <div class="home-content">
                                    <% if !club.split_address.blank? %>
                                        <% club.split_address.each do |line| %>
                                            <p class="address-line"><%=- line -%></p>
                                        <% end %>
                                    <% end %>    
                                    <% if !club.meeting_time.blank? %>
                                        <p class="address-line">
                                            <%=- club.meeting_time -%>
                                        </p>
                                    <% end %>
                                    <div id="map" class="club-map">Your club map will go here.</div>
                                </div>
                            </div>
                        <% end %>
                        <% if !club.postal_address.blank? %>
                            <div class="home-row">
                                <div class="home-header">
                                    <h2 style="color: #56A644;">Club Postal Address</h2>
                                </div>
                                <div class="home-content">
                                    <% club.split_post_address.each do |line| %>
                                        <p class="address-line"><%=- line -%></p>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                        <% if !club.contact_email.blank? %>
                            <div class="home-row">
                                <div class="home-header">
                                    <h2 style="color: #56A644;">Contact Form</h2>
                                </div>
                                <div class="home-content">
                                    <%= render 'contacts/contact_form' %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <%= render 'layouts/page_sidebar' %>
            </div>
        </div>
    </div>
</div>
<script>
    function myMap() {
        var center=  new google.maps.LatLng(<%= club.latitude %>, <%= club.longitude %>);
        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: center, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position:center});
        marker.setMap(map);
    }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGvnyJSB8Wa_u88RoU49tsLj_m30BbDiY&callback=myMap">
</script>