<% if !club.events_banner_img.blank? %>
    <%= render partial: "page-header", locals: { bg_img: club.events_banner_img, title: events_header, color: "#D94240" } %>
<% end %>
<div class="container-fluid pipe-container <% if club.events_banner_img.blank? %>page-show<% end %>" id="container_events">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="outer-well">
                    <% @event_pages.each_with_index do |event, i| %>
                        <%= render "article_preview", obj: event %>
                    <% end %>
                    <div class="apple_pagination">
                      <%= will_paginate @event_pages, :container => false, :previous_label => prev_page_button, :next_label => next_page_button  %>
                    </div>
                    <% if !@old_event_pages.blank? %>
                        <% if !@event_pages.blank? %>
                            <hr style="margin-top: 0px;"></hr>
                        <% end %>
                        <h4 style="padding-bottom: 20px; color: #56A644; font-size: 32px; text-align: center;">Previous Events</h4>
                        <% @old_event_pages.each_with_index do |event, i| %>
                            <%= render "article_preview", obj: event %>
                        <% end %>
                        <div class="apple_pagination">
                          <%= will_paginate @old_event_pages, :container => false, :previous_label => prev_page_button, :next_label => next_page_button  %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <%= render 'layouts/page_sidebar' %>
            </div>
        </div>
    </div>
</div>