<div class="new-home__banner">
    <% if club.blank? %>
        <%= image_tag("logox1.png", class:"new-home__banner-logo") %>
    <% else %>
        <% if !club.club_logo.blank? %>
            <%= image_tag(club.club_logo, class:"new-home__banner-logo") %>
        <% end %>
    <% end %>
    <div class="new-home__banner-text">
        <h1 class="new-home__banner-text--title">Welcome to I AM Phab 
            <% if club.blank? %>
                Bebington
            <% else %>
                <% if !club.club_name.blank? %>
                    <%= club.club_name %>
                <% end %>
            <% end %>    
        </h1>
        <h1 class="new-home__banner-text--fancy">Making more of life together</h1>
    </div>
</div>
<div class="container pipe-container" id="container_home">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="outer-well">
                <div class="content">
                    <% if !@home_pages.blank? %>
                        <% @home_pages.each_with_index do |news, i| %>
                            <%= render "article_list", obj: news %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <%= render 'layouts/page_sidebar' %>
        </div>  
    </div>
</div>
