<div class="new-home__banner">
    <% if !club.blank? && club.club_logo %>
        <%= image_tag(club.club_logo, class:"new-home__banner-logo") %>
    <% else %>
        <%= image_tag("logox1.png", class:"new-home__banner-logo") %>
    <% end %>
    <div class="new-home__banner-text">
        <h1 class="new-home__banner-text--title">Welcome to I AM Phab 
            <% if !club.blank? && club.club_name %>
                <%= club.club_name %>
            <% else %>
                Bebington
            <% end %>
        </h1>
        <h1 class="new-home__banner-text--fancy">Making more of life together</h1>
    </div>
</div>
<div class="container pipe-container">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="outer-well">
                <% @home_pages.each_with_index do |news, i| %>
                    <%= render "article_preview", obj: news %>
                <% end %>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <%= render 'layouts/page_sidebar' %>
        </div>  
    </div>
</div>