<div class="new-home__banner"
    style="
    <% if !club.blank? && !club.bg_image.blank? %>
      background-image: linear-gradient(
      to right bottom, 
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2))
      ,url(<%= club.bg_image.url %>);
      background-size: cover;
    <% else %>
      background: linear-gradient(to right bottom, rgba(86, 166, 68, 0.1), rgba(86, 166, 68, 0.8));
    <% end %>
    "
    >
    <div class="new-home__banner-text">
        <h1 class="new-home__banner-text--title">Welcome to  
            <span class="club-name">
                <% if club.blank? %>
                    Phab
                <% else %>
                    <% if !club.club_name.blank? %>
                        <%= club.club_name %>
                    <% end %>
                <% end %>   
            </span>
        </h1>
        <h1 class="new-home__banner-text--fancy">Making more of life together</h1>
    </div>
</div>
<div class="container-fluid pipe-container" id="container_home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="outer-well">
                    <h2></h2>
                    <div class="content">
                        <% if params[:preview] == "true" && admin_signed_in? %>
                            <% if !@all_home_pages.blank? %>
                                <% @all_home_pages.each_with_index do |news, i| %>
                                    <%= render "home_page", obj: news %>
                                <% end %>
                            <% end %>
                        <% else %>
                            <% if !@home_pages.blank? %>
                                <% @home_pages.each_with_index do |news, i| %>
                                    <%= render "home_page", obj: news %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                    <% if !club.blank? && !club.contact_email.blank? %>
                        <div class="home-row">
                            <div class="home-header">
                                <h2 style="color: #56A644;">Contact Form</h2>
                            </div>
                            <div class="home-content">
                                <%= render 'contacts/contact_form' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <%= render 'layouts/page_sidebar' %>
            </div>  
        </div>
    </div>
</div>
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        var head_pad = $(".new-home__banner").offset().top;-->
<!--        var new_offset = $(window).height() - head_pad;-->
        <!--// $(".new-home__banner").animate({marginTop: new_offset}, 800);-->
        
<!--        $(".new-home__banner").animate({height: new_offset}, 800); -->
<!--    });-->
<!--</script>-->