<div class="pipe-container">
  <div class="well">
    <h2>Create New Article</h2>
    
    <%= form_for(@page, html: {role: "form"}) do |f| %>
      <%#= f.hidden_field :site_page %>
      <div class="form-group">
        <%= f.label :site_page, "Page" %>
        <%= select_tag "page[site_page]", options_for_select([["Home", "home"], ["Event", "event"], ["News", "news"], ["About", "about"]], params[:site_page]), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class:"form-control", placeholder: "Article title...", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label "Content" %>
        <%= f.text_area :content_one, class:"form-control", placeholder: "Content..." %>
      </div>
      <div class="form-group" id="block_2" style="display: none;">
        <%= f.label "More Content" %>
        <%= f.text_area :content_two, class:"form-control", placeholder: "More content..." %>
      </div>
      <div class="form-group" id="block_3" style="display: none;">
        <%= f.label "Event More Content" %>
        <%= f.text_area :content_three, class:"form-control", placeholder: "More content..." %>
      </div>
      <div class="form-group">
        <%= f.submit class:"btn btn-success btn-md" %>
        <button class="btn btn-md btn-primary" id="more_content">Add Content Block</button>
      </div>
    <% end %>
  </div>
</div>