<%= form_for @contact, :url => url_for(:controller => 'contacts', :action => 'create') do |f| %>
    <div class="form-group">
        <%= f.label :name, "Your name" %> <br>
        <%= f.text_field :name, required: true, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :email, "Your email" %>
        <%= f.text_field :email, required: true, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :message %> <br>
        <%= f.text_area :message, as: :text, class:"form-control" %>
    </div>    
    
    
    
    <%= f.label :nickname, class:"hidden" %>
    <%= f.text_field :nickname, hint: 'leave this field blank', class:"hidden" %>
    
    
    <%= f.submit 'Send Message', class: "btn btn-phab btn-md" %>
<% end %>