<%= form_for [@gallery, @picture], :html => { :class => 'form-horizontal' } do |f| %>
<%#= form_for [@gallery], :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if !@picture.image.blank? %>
    <%= image_tag @picture.image.url, :id => 'cropbox' %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>
  
  <%# %w[x y w h].each do |attribute| %>
    <%#= f.hidden_field "crop_#{attribute}" %>
  <%# end %>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary  btn-mini' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                gallery_path(@gallery), :class => 'btn btn-mini' %>
    <%= link_to 'Default', '', :class => 'btn btn-mini btn-success' , :id => 'make_default'%>

  </div>
<% end %>    
