<style>
  .loading-bg {
    display: none;
  }
  .loading-bg.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="loading-bg">
  <%= image_tag("ajax-loader.gif", style:"height: 40px; width: 40px;") %>
</div>
<% gallery = Gallery.find(params[:gallery_id]) %>
<div class="content">
  <div class="page-header">
    <h1><%= gallery.name %><span style="float: right; font-size: 16px; line-height: 60px;"><%= link_to "View Gallery", gallery_path(gallery) %></span></h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4>Gallery & Image Upload</h4>
      <p class="dashboard-p">Don't forget to click save once you've selected your images.</p>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="image-table-area">
        <%= form_for Gallery.find(params[:gallery_id]), :html => { multipart: true } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Title" %>
            <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 6, class:"form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :pictures, "Upload Images" %>
            <div class="controls">
              <%= file_field_tag "images[]", type: :file, multiple: true %>
            </div>
          </div>
        
          <div class="form-group">
            <div class="right">
              <%= f.submit nil, :class => 'btn btn-md btn-phab-form' %>
            </div>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
  <hr></hr>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4>Images <small>(<%= @pictures.size %>)</small></h4>
      <p class="dashboard-p">Square images are recommended for gallery cover images</p>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="image-table-area">
        <div class="image-table-container">
          <% if @pictures.blank? %>
            <p class="blank-object text-center">You have no images yet!</p>
          <% else %>
            <table class="table">
              <thead>
                <tr>
                  <!--<th><%#= model_class.human_attribute_name(:image) %></th>-->
                  <th>Preview</th>
                  <th>File Name</th>
                  <th class="hidden-xs">Caption</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @pictures.each do |picture| %>
                  <tr class="<% if picture.id == picture.gallery.cover %>cover-img<% end %>">
                    <td><%= image_tag(picture.image.url(:thumb), class:"pic-thumbnail") %></td>
                    <td><%= picture.split_image_path %></td>
                    <td class="hidden-xs"><%= truncate(picture.description, length: 83, separator: /\s/) %></td>
                    <td class="text-center">
                      <li class="list-unstyled dropdown">
                        <i class="glyphicon glyphicon-option-vertical" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <% if picture.description.blank? %>
                            <li><%= link_to "Add Caption", edit_gallery_picture_path(picture.gallery, picture), "data-toggle" => "modal", "data-target" => "#img_popup_#{picture.id}", remote: true %></li>
                          <% else %>
                            <li><%= link_to "Edit Caption", edit_gallery_picture_path(picture.gallery, picture), "data-toggle" => "modal", "data-target" => "#img_popup_#{picture.id}", remote: true %></li>
                          <% end %>
                          <% if picture.id != picture.gallery.cover %>
                            <li>
                              <%= link_to 'Make Cover Image', make_default_gallery_picture_path(picture.gallery_id, picture), :id => 'make_default', method: :post %>
                            </li>
                          <% end %>
                          <li>
                            <%= link_to "Delete", gallery_picture_path(picture.gallery, picture), method: :delete, data: 
                              {confirm: "Are you sure you want to delete this picture?"} %>
                          </li>
                        </ul>
                      </li>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <div style="float: right; margin-top: 20px;">
        <%= link_to "Delete gallery", gallery_path(gallery), class:"btn btn-md btn-danger", method: :delete, data:
          {confirm: "Are you sure you want to delete this picture?"} %>
      </div>
    </div>
  </div>
</div>
<% @pictures.each do |picture| %>
  <%= render 'popup_edit', obj: picture %>
<% end %>
<script>
  $(document).on("ready", function() {
    $("input[type='submit']").on("click", function() {
      $(".loading-bg").addClass("is-open");
    });
  });
</script>