<style>
  .loading-bg {
    display: none;
  }
  .loading-bg.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="loading-bg">
  <%= image_tag("ajax-loader.gif", style:"height: 40px; width: 40px;") %>
</div>

<%= form_for @gallery, :html => { multipart: true } do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :name, "Title" %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.text_field :name, class:"form-control", placeholder: "Gallery title...", autofocus: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :description %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= f.text_area :description, class:"form-control", rows: 3, placeholder: "Description...", autofocus: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= f.label :pictures, "Images" %>
        <p class="dashboard-p">You can upload multiple images at once from a computer.</p> 
        <p class="dashboard-p hidden-xs">Just hold CTRL(Windows)/CMD(Mac) and select your pictures.</p>
        <p class="dashboard-p hidden-xs">Creating the gallery can sometimes take a few minutes.</p>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="right">
      <%= f.submit nil, :class => 'btn btn-md btn-phab-form' %>
    </div>
  </div>
<% end %>
<script>
  $(document).on("turbolinks:load", function() {
    $("input[type='submit']").on("click", function() {
      $(".loading-bg").addClass("is-open");
    });
  });
</script>