<tr>
  <td><%= link_to gallery_path(gallery) do %><%= image_tag(gallery.find_thumb_image, class:"pic-thumbnail") %><% end %></td>
  <td><%= link_to gallery.name, gallery_path(gallery) %></td>
  <td><%= truncate(gallery.description, length: 43) %></td>
  <td><%= gallery.pictures.size %></td>
  <td class="text-right">
    <li class="list-unstyled dropdown">
      <i class="glyphicon glyphicon-option-vertical" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right">
        <% if gallery.published == false %>
          <li><%= link_to "Preview", gallery_path(gallery) %></li>
          <li><%= link_to "Publish", published_gallery_path(gallery) %></li>
        <% else %>
          <li><%= link_to "Unpublish", published_gallery_path(gallery) %></li>
        <% end %>
        <li><%= link_to "Edit", gallery_pictures_path(gallery) %></li>
        <li>
          <%= link_to "Delete", gallery_path(gallery), method: :delete, data: 
            {confirm: "Are you sure you want to delete this gallery?"} %>
        </li>
      </ul>
    </li>
  </td>
</tr>