<div class="home__banner">
    <div class="home__banner-text">
      <hr class="page__header-line-before">
        <h1 class="home__banner-text--title fancy">
            Galleries
        </h1>
        <hr class="page__header-line-after">
    </div>
</div>
<div class="container pipe-container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="outer-well">
        <div class="content">
          <% if admin_signed_in? %>
            <% if @gallery.published == false %>
              <div class="row">
                <div class="col-md-2 col-md-offset-10">
                  <%= link_to "Publish gallery", published_gallery_path(@gallery), class:"btn btn-md btn-phab no-margin" %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="content__title">
            <h2>
              <%= @gallery.name %>
            </h2>
            <hr class="phab-separator">
          </div>
      
          <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
          <% unless @gallery.description.empty? %>
            <div class="content__text" style="margin-top: 20px; margin-bottom: 40px;">
              <p class="text-center content-block">
                <%= @gallery.description %>
              </p>
            </div>
          <% end %>
          <hr></hr>
          <h3 class="gallery-image-title">Images <small>(<%= @pictures.size %>)</small><span style="float: right; font-size: 16px;"><a class="btn btn-md btn-phab-form" id="open_gallery_button">Open gallery</a></span></h3>
          <hr></hr>
          <% unless @pictures.empty? %>
            <% @pictures.each_with_index do |pic, i| %>
              <% if i % 2 == 0 %>
                <div class="row image-gallery-row">
              <% end %>
              <div id="picture_<%= pic.id %>" class="col-md-6 col-sm-6 col-xs-12">
                <div class="image-thumbnail">
                  <div class="image-thumbnail-img-container">
                    <%= image_tag(pic.image.url(:medium), class:"image-thumbnail-img") %>
                  </div>
                  <% if !pic.description.blank? %>
                  <div class="image-caption">
                    <hr></hr>
                    <p class="text-center">
                      <%= pic.description %>
                    </p>
                  </div>
                  <% end %>
                </div>
              </div>
              <% if i % 2 != 0 || i == @pictures.size - 1%>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <div class="row article__cta">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <p class="article__details">
                    <%= time_ago_in_words(@gallery.created_at) %> ago
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top: 8px;">
                <%= social_share_button_tag(@gallery.name) %>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <% if admin_signed_in? %>
                    <span style="float: right; padding-top: 4px">
                        <%= link_to gallery_pictures_path(@gallery) do %>
                            <i class="fa fa-edit btn btn-sm btn-default"></i>
                        <% end %>
                        <%= link_to gallery_path(@gallery), method: :delete, data: 
                                    {confirm: "Are you sure you want to delete this gallery?"} do %>
                            <i class="fa fa-trash btn btn-sm btn-danger"></i>
                        <% end %>
                    </span>
                <% end %>
            </div>    
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <%= render 'layouts/page_sidebar' %>
    </div>
  </div>
</div>
<div class="image-slide" id="image_slide">
  <div class="image-container" id="image_container">
    <div class="image-display" id="image_display">
      <button type="button" class="image-close" id="close_gallery">&times;</button>
      <%#= image_tag(@gallery.pictures.first.image.url, class:"image-display--img active") %>
      <% @gallery.pictures.each do |pic| %>
        <%= image_tag(pic.image.url(:medium), class:"image-display--img", id:"lg_img_#{pic.id}") %>
      <% end %>
    </div>
    <div class="image-text" id="image_text_box">
      <% if !@gallery.pictures.first.description.blank? %>
        <hr></hr>
        <p class="image-description-text" id="image_text_descr"><%= @gallery.pictures.first.description %></p>
        <hr></hr>
      <% end %>
      <% @gallery.pictures.each do |pic| %>
        <% if !pic.description.blank? %>
          <p class="image-description-text hidden" id="descr_<%= pic.id %>"><%= pic.description %></p>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 sol-xs-12">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
          <% @gallery.pictures.each do |pic| %>
            <div id="social_share_buttons" class="text-center hidden">
              <%= social_share_button_tag(@gallery.pictures.first.description) %>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <p class="image-position-text" id="image_text">1/12</p>
        </div>
      </div>
    </div>
    <button type="button" class="image-prev" id="prev_image_button">
      <i class="fa fa-angle-left fa-4x"></i>
    </button>
    <button type="button" class="image-next" id="next_image_button">
      <i class="fa fa-angle-right fa-4x"></i>
    </button>
  </div>  
</div>

<script>
    var $gallery_images_array = [];
    var $gallery_image_position = 0;
    
    $(document).ready(function() {
      
      $("#open_gallery_button").on("click", function() {
        $gallery_images_array.length = 0;
        $gallery_image_position = 0;
        
        $(document).find("img[id^='lg_img_']").each(function(){ 
          $gallery_images_array.push(this.id);
        });
        
        var img_id = splitImgId($gallery_images_array[0]);
        var first_id = "#" + $gallery_images_array[0];
        
        $("#image_display").prepend($(first_id));
        $(first_id).addClass("active");
        setSlideDisplay();
        $("#prev_image_button").attr("disabled", true);
        $("#image_text").text(($gallery_image_position+1)+"/"+$gallery_images_array.length);
        for(var i=1;i<$gallery_images_array.length;i++) {
          $("#"+$gallery_images_array[i]).addClass("right-image");
        }
      });
      
      $("#next_image_button").click(function() {
        
        
        console.log("before: "+$gallery_image_position);
        $("#prev_image_button").attr("disabled", false);
        var cur_img_id = "#"+$gallery_images_array[$gallery_image_position];
        var next_img_position = ($gallery_image_position+1) > $gallery_images_array.length-1 ? ($gallery_image_position+1)-$gallery_images_array.length : $gallery_image_position+1
        var disable_arrow = ($gallery_image_position+2) > $gallery_images_array.length-1 ? ($gallery_image_position+2)-$gallery_images_array.length : $gallery_image_position+2
        var next_img_id = "#"+$gallery_images_array[next_img_position];
        var id_img_set = splitImgId(next_img_id);
        //var two_ahead_id = "#"+$gallery_images_array[two_ahead_position];
        console.log("before next: "+next_img_position);
        //console.log("before two: "+two_ahead_position);
        
        //$(two_ahead_id).removeClass("left-image").addClass("right-image");
        
        $(cur_img_id).removeClass("active").addClass("left-image");
        $(next_img_id).removeClass("right-image").addClass("active");
        
        if ($("#descr_"+id_img_set).length > 0) {
          $("#image_text_descr").text($("#descr_"+id_img_set).text());
          $("#image_text_box").slideDown();
        } else {
          $("#image_text_box").slideUp();
        }
        //$("#image_text_box").slideDown();
        console.log($("#descr_"+id_img_set).length + "#descr_"+id_img_set + "text: " + $("#descr_"+id_img_set).text())
        $gallery_image_position = ($gallery_image_position == $gallery_images_array.length-1) ? $gallery_images_array.length-1 : $gallery_image_position+1
        
        $("#image_text").text(($gallery_image_position+1)+"/"+$gallery_images_array.length);
        
        if ($gallery_image_position == $gallery_images_array.length-1) {
          $("#next_image_button").attr("disabled", true);
        }
         
        console.log("after: "+$gallery_image_position);
       });
       
       $("#prev_image_button").click(function() {
         
        var cur_img_id = "#"+$gallery_images_array[$gallery_image_position];
        var prev_img_position = ($gallery_image_position-1) < 0 ? -1 : $gallery_image_position-1
        var disable_arrow = (prev_img_position-1) < 0 ? true : false
        var prev_img_id = "#"+$gallery_images_array[prev_img_position];
        var id_img_set = splitImgId(prev_img_id);
        $("#next_image_button").attr("disabled", false);
        //var two_behind_id = "#"+$gallery_images_array[two_behind_position];
        console.log("before prev: "+prev_img_id);
        //console.log("before two id: "+two_behind_id+"  index: " + two_behind_position);
        //$(prev_img_id).removeClass("right-image").addClass("left-image");
        //$(two_behind_id).removeClass("right-image").addClass("left-image");
        
        $(cur_img_id).removeClass("active").addClass("right-image");
        $(prev_img_id).removeClass("left-image").addClass("active");
        
        $gallery_image_position = ( $gallery_image_position == 0 ) ? 0 : $gallery_image_position-1
         
        $("#image_text").text(($gallery_image_position+1)+"/"+$gallery_images_array.length);
        
        if ($gallery_image_position == 0) {
          $("#prev_image_button").attr("disabled", true);
        }
        
        if ($("#descr_"+id_img_set).length > 0) {
          $("#image_text_descr").text($("#descr_"+id_img_set).text());
          $("#image_text_box").slideDown();
        } else {
          $("#image_text_box").slideUp();
        }
         
         console.log("after: "+$gallery_image_position);
       });
       
       $("#close_gallery").click( function() {
         removeSlideDisplay();
       });
    });
    
    function setSlideDisplay() {
      $("#image_container").css("opacity", "1");
      $("#image_container").css("visibility", "visible");
      $("#image_container").css("transform", "translate(-50%, -50%) scale(1)");
      $("#image_slide").css("opacity", "1");
      $("#image_slide").css("visibility", "visible");
    }
    
    function removeSlideDisplay() {
      $("#image_slide").css("opacity", "0");
      $("#image_slide").css("visibility", "hidden");
      $("#image_container").css("opacity", "0");
      $("#image_container").css("visibility", "hidden");
      $("#image_container").css("transform", "translate(-50%, -50%) scale(.25)");
      
      $("img[class='image-display--img right-image'], img[class='image-display--img left-image'], img[class='image-display--img active']").each( function() {
        $(this).attr("class", "hidden");
      });
      
      $gallery_images_array.length = 0;
      $gallery_image_position = 0;
    }
    
    function setGalleryArray(img_id) {
      var id_array = img_id.split("_"),
           gallery_id = id_array[id_array.length-2]
      
        $(document)
              .find("img[id^='lg_img_"+ gallery_id +"_']")
              .each(function(){ 
                $gallery_images_array.push(this.id);
              });
    }
    
    function splitImgId(img_id) {
       var id_array = img_id.split("_");
      
      return id_array[id_array.length-1]
    }
    
    function loadGalleryImages(img_id) {
      var i, 
      g_len,
      isLeft;
      
      g_len = $gallery_images_array.length;
      
      for (i=0;i<g_len;i++) {
        $("#image_display").append($("#"+$gallery_images_array[i]));
        if (i < $gallery_image_position) {
          $("#"+$gallery_images_array[i]).addClass("image-display--img left-image").removeClass("hidden");
        } else if (i == $gallery_image_position) {
          $("#"+$gallery_images_array[i]).addClass("image-display--img active").removeClass("hidden left-image right-image");
          $("#image_text").text((i+1)+"/"+g_len);
        } else {
          $("#"+$gallery_images_array[i]).addClass("image-display--img right-image").removeClass("hidden");
        }
      }
    }

    function toggleNextImage(current_img_id) {
      $("#"+current_img_id).fadeOut("fast");
      $("#"+$gallery_images_array[$gallery_image_position]).fadeIn("slow");
      // $("#"+current_img_id).removeClass("active").addClass("left-image");
      // $("#"+$gallery_images_array[($gallery_image_position)%($gallery_images_array.length)]).removeClass("right-image").addClass("active");
      // console.log(($gallery_image_position)%($gallery_images_array.length-1));
      // $("#"+$gallery_images_array[($gallery_image_position+1)%($gallery_images_array.length)]).removeClass("left-image").addClass("right-image");
      // if ($gallery_image_position == $gallery_images_array.length-1) {
      //   $gallery_image_position = -1;
      // }
      // $("#image_text").text(($gallery_image_position+1)+"/"+$gallery_images_array.length);
    }
    
    function togglePrevImage(current_img_id) {
      
      console.log("modulo: "+($gallery_image_position)%($gallery_images_array.length-1));
      console.log("img pos: "+$gallery_image_position);
      $("#"+current_img_id).removeClass("active left-image").addClass("right-image");
      $("#"+$gallery_images_array[($gallery_image_position-1)%($gallery_images_array.length)]).removeClass("right-image").addClass("left-image");
      
      if ($gallery_image_position <= 0) {
        $("#"+$gallery_images_array[$gallery_images_array.length-1]).removeClass("right-image").addClass("left-image");
        $("#"+$gallery_images_array[$gallery_images_array.length-1]).removeClass("right-image left-image").addClass("active");
        
        $gallery_image_position = $gallery_images_array.length-1;
        
        //$("#"+$gallery_images_array[$gallery_images_array.length-1]).removeClass("right-image left-image").addClass("active");
        console.log("change");
      } else {
        $("#"+$gallery_images_array[($gallery_image_position)%($gallery_images_array.length)]).removeClass("left-image").addClass("active");  
      }
      $("#image_text").text(($gallery_image_position+1)+"/"+$gallery_images_array.length);
    }
    
    function findImagePosition(img_id) {
      var i,
          g_len;
          
      g_len = $gallery_images_array.length;
      
      for (i=0;i<g_len;i++) {
        if ("#"+$gallery_images_array[i] == "#lg_"+ img_id) {
          return i;
        }
      }
    }
  
</script>
