<style>
  img[class$='-thumbnail-new'] {
    /*position: absolute;*/
    width: 100%;
    /*top: 0;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
  }
  
  .new-img-container-block {
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    flex: 1 1 50%; 
    justify-content: center; 
  }
  
  @media (max-width: 769px) {
     .new-img-container-block { flex: 1 1 100%; }
  }
</style>
<div class="container-fluid pipe-container page-show" id="container_gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="outer-well">
          <div class="content">
            <div class="content__title">
              <h2>
                <%= @gallery.name %>
              </h2>
              <hr class="phab-separator">
            </div>
        
            <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
            <% unless @gallery.description.empty? %>
              <div class="content__text" style="margin-top: 8px; margin-bottom: 40px;">
                <p class="text-center content-block">
                  <%= @gallery.description %>
                </p>
                <% if admin_signed_in? %>
                    <%= render partial: "pages/admin_cta_bar", locals: { obj: @gallery, padding_vertical: "10px 0px 0px " } %> 
                <% end %>
              </div>
            <% end %>
            <% unless @pictures.empty? %>
            <hr></hr>
            <h3 class="gallery-image-title">Images <small>(<%= @pictures.size %>)</small><span style="float: right; font-size: 16px;"><button class="btn btn-md btn-phab-form" id="open_gallery">Open Gallery</button></span></h3>
            <hr></hr>
            
              <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <% @pictures.each_with_index do |pic, i| %>
                  <div class="new-img-container-block">
                    <div style="position: relative; width: 100%; overflow: hidden; cursor: pointer;">
                      <%= image_tag(pic.image.url, class:"gallery-#{i}-thumbnail-new") %>
                    </div>
                    <% if !pic.description.blank? %>
                      <div class="image-caption">
                        <p class="text-center" style="margin-top: 20px;">
                          <%= pic.description %>
                        </p>
                      </div>
                      <span style="height: 0; border-top: 2px solid gray; width: 100%; margin: 20px 0 0 0;"></span>
                    <% else %>
                      <span style="height: 0; border-top: 2px solid gray; width: 100%; margin: 40px 0 0 0;"></span>
                    <% end %>
                    
                  </div>
                <% end %>
              </div>
              <% if admin_signed_in? %>
                  <%= render partial: "pages/admin_cta_bar", locals: { obj: @gallery, padding_vertical: "10px 0px 20px " } %> 
              <% end %>
            <% end %>
            <div class="row article__cta">
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <p class="article__details">
                      <%= time_ago_in_words(@gallery.created_at) %> ago
                  </p>
              </div>
              <div class="col-xs-8" style="display: flex; justify-content: flex-end;">
                  <span class="share-text">Share On:</span>
                  <%= social_share_button_tag(@gallery.name, desc: @gallery.name) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <%= render 'layouts/page_sidebar' %>
      </div>
    </div>
  </div>
</div>
<!--<div class="image-slide" id="image_slide">-->
<!--  <div class="image-container" id="image_container">-->
<!--    <div class="image-display" id="image_display">-->
<!--      <button type="button" class="image-close" id="close_gallery">&times;</button>-->
      <%#= image_tag(@gallery.pictures.first.image.url, class:"image-display--img active") %>
<!--      <%# @gallery.pictures.each do |pic| %>-->
<!--        <%#= image_tag(pic.image.url,  class:"image-display--img", id:"lg_img_#{pic.id}") %>-->
<!--      <%# end %>-->
<!--    </div>-->
<!--    <div class="image-text" id="image_text_box">-->
<!--      <%# if !@gallery.pictures.first.description.blank? %>-->
<!--        <hr></hr>-->
<!--        <p class="image-description-text" id="image_text_descr"><%#= @gallery.pictures.first.description %></p>-->
<!--        <hr></hr>-->
<!--      <%# end %>-->
<!--      <%#@gallery.pictures.each do |pic| %>-->
<!--        <%# if !pic.description.blank? %>-->
<!--          <p class="caption hidden" id="descr_<%#= pic.id %>"><%#= pic.description %></p>-->
<!--        <%# end %>-->
<!--      <%# end %>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-12 col-sm-12 sol-xs-12">-->
<!--        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">-->
<!--          <%# @gallery.pictures.each do |pic| %>-->
<!--            <div id="social_share_buttons" class="text-center hidden">-->
<!--              <%#= social_share_button_tag(@gallery.pictures.first.description) %>-->
<!--            </div>-->
<!--          <%# end %>-->
<!--        </div>-->
<!--        <div class="col-md-4 col-sm-4 col-xs-4">-->
<!--          <p class="image-position-text" id="image_text">1/12</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button type="button" class="image-prev" id="prev_image_button">-->
<!--      <i class="fa fa-angle-left fa-4x"></i>-->
<!--    </button>-->
<!--    <button type="button" class="image-next" id="next_image_button">-->
<!--      <i class="fa fa-angle-right fa-4x"></i>-->
<!--    </button>-->
<!--  </div>  -->
<!--</div>-->
<style>
  .gallery {
    position: fixed; 
    width: 100vw; 
    height: 100vh; 
    top: 0; 
    left: 0; 
    z-index: -10;
    background-color: transparent;
  }
  
  .gallery.is-open {
    background-color: rgba(0,0,0, .8); 
    z-index: 999999;
  }
  
  .slider {
    height: 80vh;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .slick-center {
    opacity: 1 !important;
    transform: scale(1) !important;
  }
  
  .slider .slick-list {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider img {
    max-width: 700px;
    height: 100%;
    opacity: 0;
    transform: scale(.7);
    transition: all .3s;
  }
  .slick-track {
    height: 100%;
  }
  .new-slider-next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 32px;
    color: white;
    z-index: 99999;
    padding: 10px;
  }
  
  .close-gallery {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 999999;
  }
  
  #close_gallery {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
  
  .new-slider-next.slick-disabled,
  .new-slider-prev.slick-disabled{
    color: gray;
  }
  
  .new-slider-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 32px;
    padding: 10px;
    color: white;
    z-index: 99999;
  }
  .counter {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  #counter {
    color: white;
    font-size: 16px;
  }
  .slider-caption {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-caption-text {
    font-size: 20px;
    color: white;
    text-align: center;
  }
  @media (max-width: 769px) {
    .close-gallery {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    .slider-caption-text {
      font-size: 16px;
    }
    .counter {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .slider-caption {
      width: 90%;
      bottom: 30px;
    }
    .slider img {
      /*width: 90vw;*/
      max-width: none !important;
    }
    .new-slider-next {
      right: 20px;
    }
    
    .new-slider-prev {
      left: 20px;
    }
  }
</style>
<div class="gallery">
  <div class="counter">
    <span id="counter">1/8</span>
  </div>
  <div class="close-gallery">
    <button id="close_gallery"><i class="fa fa-times"></i></button>
  </div>
  <div class="slider">
    <% @gallery.pictures.reverse.each_with_index do |pic, i| %>
      <%= image_tag(pic.image.url) %>
    <% end %>  
  </div>
  <div class="slider-caption">
    <p id="caption" class="slider-caption-text"></p>
  </div>
</div>
<% @gallery.pictures.reverse.each_with_index do |pic, i| %>
  <% if pic.description %>
    <p style="display: none;" id="img_caption_<%= i %>"><%= pic.description %></p>
  <% end %>
<% end %>  

<script>
$(document).on("turbolinks:load", function() {
  $('.slider').hasClass('.slick-initialized') ? $('.slider').slick('unslick') : null;
  $("#close_gallery").on("click", function() {
    $('.slider').slick('unslick');
    $(".gallery").removeClass("is-open");
  });
  $("#open_gallery").on("click", function() {
    openGallery(0);
    updateCounter(0);
    checkCaption(0);
  });
  $("img[class^='gallery-']").on("click", function() {
    var index = $(this).attr("class").split("-")[1];
    console.log(index)
    updateCounter(parseInt(index));
    openGallery(parseInt(index))
    checkCaption(parseInt(index))
  })
  $('.slider').on('beforeChange', function(event, slick, currentSlide, nextSlide){
    console.log(nextSlide);
    updateCounter(parseInt(nextSlide));
    checkCaption(parseInt(nextSlide))
  });
});

function checkCaption(index) {
  var caption = $("#img_caption_"+index).length > 0 ? $("#img_caption_"+index).html() : ""
  $("#caption").html(caption);
}

function updateCounter(index) {
  var total = $("img[class^='gallery-']").length;
  var current = index+1
  var text = current + "/" + total
  $("#counter").html(text)
}

function openGallery(index) {
  $(".gallery").addClass("is-open");
  $('.slider').slick({
    dots: false,
    initialSlide: index,
    speed: 300,
    infinite: false,
    slidesToShow: 3,
    centerMode: true,
    centerPadding: '60px',
    nextArrow: '<i class="new-slider-next fa fa-arrow-right"></i>',
    prevArrow: '<i class="new-slider-prev fa fa-arrow-left"></i>',
    slidesToScroll: 1,
    arrows: true,
    variableWidth: true
  });
}
</script>