<style>
    .sidebar-container {
        padding-bottom: 30px !important;
    }
</style>
<menu class="sidebar-container">
  <ul class="sidebar__list">
    <li class="sidebar__item">
        <%= link_to dashboard_path do %>
            <span class="text">
                <i class="fas fa-list-ul"></i>
                Dashboard
            </span>
            <i class="fas fa-chevron-right"></i>
        <% end %>
    </li>
    <li class="sidebar__item">
        <%= link_to home_list_path do %>
            <span class="text">
              <i class="fas fa-home"></i>
              Homepage
            </span>
            <i class="fas fa-chevron-right"></i>
        <% end %>
    </li>
    <li class="sidebar__item">
        <%= link_to about_list_path do %>
            <span class="text">
              <i class="fas fa-info" style="margin: 0px 6px;"></i>
              About
            </span>
            <i class="fas fa-chevron-right"></i>
        <% end %>
    </li>
    <li class="sidebar__item">
      <%= link_to news_list_path do %>
        <span class="text">
          <i class="fas fa-newspaper"></i>
          News
        </span>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </li>
    <li class="sidebar__item">
      <%= link_to event_list_path do %>
        <span class="text">
          <i class="far fa-calendar-plus"></i>
          Events
        </span>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </li>
    <li class="sidebar__item">
      <%= link_to gallery_list_path do %>
        <span class="text">
          <i class="fas fa-camera"></i>
          Galleries
        </span>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </li>
    <li class="sidebar__item">
        <% if !club.blank? %>
          <%= link_to edit_club_path(club) do %>
            <span class="text">
              <i class="fa fa-university"></i>
              Club / Website
            </span>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        <% else %>
            <%= link_to new_club_path do %>
                <span class="text">
                    <i class="fa fa-university"></i>
                    Club / Website
                </span>
                <i class="fas fa-chevron-right"></i>
            <% end %>
        <% end %>
    </li>
    <li class="sidebar__item">
        <%= link_to volunteer_list_path do %>
            <span class="text">
              <i class="fas fa-child"></i>
              Volunteers
            </span>
            <i class="fas fa-chevron-right"></i>
        <% end %>
    </li>
    <li class="sidebar__item">
      <%= link_to admins_path do %>
        <span class="text">
          <i class="fas fa-users"></i>
          Admin Users
        </span>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </li>
    <li class="sidebar__item">
      <%= link_to root_path do %>
        <span class="text">
          <i class="fa fa-eye"></i>
          View Website
        </span>
        <!--<i class="fas fa-chevron-right"></i>-->
      <% end %>
    </li>
  </ul>
</menu>