<% fb_link = !club.blank? && club.facebook_link != "" ? club.facebook_link : "en-gb.facebook.com/PhabCharity/" %>
<% twitter_link = !club.blank? && club.twitter_link != "" ? club.twitter_link : "www.twitter.com/phab_charity?lang=en" %>
<% donate_link = !club.blank? && club.donate_link != "" ? club.donate_link : "www.justgiving.com/onecheckout/donation/direct/charity/2331" %>
<style>
  .main-sidebar-block .list .item {
    word-wrap: break-word !important;
    text-transform: none !important;
  }
</style>
<div class="sidebar">
  <div class="main-sidebar-block" id="sidebar_block">
    <div class="contact-block" id="contact_block">
      <ul class="list">
        <li class="item"><%= !club.blank? && !club.club_leader.blank? ? club.club_leader : "" %></li>
        <li class="item"><%= !club.blank? && !club.contact_number.blank? ? club.contact_number : "" %></li>
        <li class="item"><%= !club.blank? && !club.contact_email.blank? ? club.contact_email : "" %></li>
      </ul>
    </div>
    <div class="address-block" id="address_block">
      <ul class="list">
        <% if !club.blank? && !club.meeting_time.blank? %>
          <li class="item"><%= club.meeting_time %></li>
        <% end %>
        <% if !club.blank? && !club.meeting_address.blank? %>
          <% club.split_address.each do |line| %>
            <li class="item"><%=- line -%></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="icon-bar" id="icon_bar">
    <a href="javascript:void(0);" id="contact_btn" class="contact-btn"><i class="fa fa-2x fa-user"></i></a>
    <a href="javascript:void(0);" id="address_btn" class="address-btn"><i class="fa fa-2x fa-map-marker"></i></a>
    <a target="_blank" href="https://<%= fb_link %>" id="facebook_btn" class="facebook-btn"><i class="fab fa-2x fa-facebook-f"></i></a> 
    <a target="_blank" href="https://<%= twitter_link %>" id="twitter_btn" class="twitter-btn"><i class="fab fa-2x fa-twitter"></i></a>
    <a target="_blank" href="https://<%= donate_link %>" id="donate_btn" class="donate-btn"><i class="fas fa-2x fa-hand-holding-heart"></i></a>
  </div>
</div>