<style>
  .affiliated-to {
    position: absolute;
    top: 40px;
    right: 140px;
    text-align: right;
    color: #56A644;
    font-weight: bold;
  }
  .mm__item a {
    padding: 20px;
    width: 100%;
  }
  .navbar__beb-logo img,
  .mob-nav__club-logo img {
    padding: 8px;
  }
</style>
<nav class="navbar hidden-sm hidden-xs" id="navbar">
  <div class="navbar__container">
      <div class="navbar__beb-logo">
        <%= link_to root_path do %>
          <% if club.blank? %>
            <%= image_tag("logox1.png", class:"navbar__beb-logo--img") %>
          <% else %>
            <% if !club.club_logo.blank? %>
              <%= image_tag(club.club_logo, class:"navbar__beb-logo--img") %>
            <% else %>
              <%= image_tag("logox1.png", class:"navbar__beb-logo--img") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="container navbar__link-container">
        <div class="navbar__links">
            <ul class="navbar-link-list">
              <li class="green"><%= link_to "Home", root_path, id:"nav_btn_home" %></li>
              <% if !nav_about_list.blank? || !nav_volunteers.blank? %>
                <li class="dropdown orange">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if !nav_about_list.blank? %>
                      <% nav_about_list.each do |event| %>
                        <li><%= link_to event.title, about_us_path(anchor: handlise(event.title)) %></li>
                      <% end %>
                    <% end %>
                    <% if !nav_volunteers.blank? %>
                      <li><%= link_to "Volunteers", about_us_path(anchor: "volunteers") %></li>
                    <% end %>
                    <li><%= link_to "About Us", about_us_path %></li>
                  </ul>
                </li>
              <% end %>
              <% if !nav_news_list.blank? %>
              <li class="dropdown blue">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= news_header %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if !nav_news_list.blank? %>
                    <% nav_news_list.each do |news| %>
                      <li><%= link_to news.title, page_path(news) %></li>
                    <% end %>
                    <li role="separator" class="nav-separator"></li>
                  <% end %>
                  <li><%= link_to "View all", club_news_path %></li>
                </ul>
              </li>
              <% end %>
              <% if !nav_event_list.blank? %>
              <li class="dropdown red">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= events_header %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if !nav_event_list.blank? %>
                    <% nav_event_list.each do |event| %>
                      <li><%= link_to event.title, page_path(event) %></li>
                    <% end %>
                    <li role="separator" class="nav-separator"></li>
                  <% end %>
                  <li><%= link_to "View all", whats_on_path %></li>
                </ul>
              </li>
              <% end %>
              <% if !nav_gallery_list.blank? %>
              <li class="dropdown orange">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if !nav_gallery_list.blank? %>
                    <% nav_gallery_list.each do |gallery| %>
                      <li><%= link_to gallery.name, gallery_path(gallery) %></li>
                    <% end %>
                    <li role="separator" class="nav-separator"></li>
                  <% end %>
                  <li><%= link_to "View all", galleries_path %></li>
                </ul>
              </li>
              <% end %>
              <li class="purple"><%= link_to "Contact Us", contact_us_path, id:"nav_btn_contact_us" %></li>
              <% if admin_signed_in? %>
                <li class="green">
                  <%= link_to "Dashboard", dashboard_path %>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
      <span class="affiliated-to hidden-sm hidden-xs">Affiliated to:</span> 
      <div class="navbar__charity-number ">
         <%= image_tag("coloured_phab_logo.jpg", class:"navbar__charity-number--img") %>   
      </div>
    </div>
</nav>
<nav class="mob-nav hidden-md hidden-lg hidden-xl">
  <button class="burger-icon" id="mobile_menu">
    <i class="fas fa-2x fa-bars"></i>
  </button>
  <div class="mob-nav__club-logo">
    <%= link_to root_path do %>
      <% if club.blank? %>
        <%= image_tag("logox1.png") %>
      <% else %>
        <% if !club.club_logo.blank? %>
          <%= image_tag(club.club_logo) %>
        <% else %>
          <%= image_tag("logox1.png") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</nav>
<section class="mm hidden-md hidden-lg hidden-xl" id="mobile_side_menu">
  <ul class="mm__list">
    <li class="mm__item green">
      <%= link_to "Home", root_path %>
    </li>
    <% if !nav_about_list.blank? || !nav_volunteers.blank? %>    
      <li class="mm__item orange" style="padding: 20px;">
        <span>About Us</span>
        <i class="fas fa-angle-right"></i>
      </li>
      <ul class="dropdown-list orange-mob">
        <% if !nav_about_list.blank? %>
          <% nav_about_list.each do |news| %>
            <li><%= link_to news.title, about_us_path(anchor: handlise(news.title)) %></li>
          <% end %>
        <% end %>
        <% if !nav_volunteers.blank? %>
          <li><%= link_to "Volunteers", about_us_path(anchor: "volunteers") %></li>
        <% end %>
        <li><%= link_to "About Us", about_us_path %></li>
      </ul>
    <% end %>
    <% if !nav_news_list.blank? %>
      <li class="mm__item blue" style="padding: 20px;">
        <span><%= news_header %></span>
        <i class="fas fa-angle-right"></i>
      </li>
      <ul class="dropdown-list blue-mob">
        <% if !nav_news_list.blank? %>
          <% nav_news_list.each do |news| %>
            <li><%= link_to news.title, page_path(news) %></li>
          <% end %>
        <% end %>
        <li><%= link_to "View all", club_news_path %></li>
      </ul>
    <% end %>
    <% if !nav_event_list.blank? %>
      <li class="mm__item red" style="padding: 20px;">
        <span><%= events_header %></span>
        <i class="fas fa-angle-right"></i>
      </li>
      <ul class="dropdown-list red-mob">
        <% if !nav_event_list.blank? %>
          <% nav_event_list.each do |event| %>
            <li><%= link_to event.title, page_path(event) %></li>
          <% end %>
        <% end %>
        <li><%= link_to "View all", whats_on_path %></li>
      </ul>
    <% end %>
    <% if !nav_gallery_list.blank? %>
      <li class="mm__item orange" style="padding: 20px;">
        <span>Gallery</span>
        <i class="fas fa-angle-right orange"></i>
      </li>
      <ul class="dropdown-list orange-mob">
        <% if !nav_gallery_list.blank? %>
          <% nav_gallery_list.each do |gallery| %>
            <li><%= link_to gallery.name, gallery_path(gallery) %></li>
          <% end %>
        <% end %>
        <li><%= link_to "View all", galleries_path %></li>
      </ul>
    <% end %>
    <li class="mm__item blue">
      <%= link_to "Contact Us", contact_us_path %>
    </li>
    <% if admin_signed_in? %>
      <li class="mm__item green">
        <%= link_to "Dashboard", dashboard_path %>
      </li>
    <% end %>
  </ul>
  <div class="mm__logo">
      <% if club.blank? %>
          <%= image_tag("charity-number-logo.png") %>
      <% else %>
          <% if !club.club_logo.blank? %>
              <%= image_tag(club.club_logo) %>
          <% end %>
      <% end %>
  </div>
</section>