<div class="sidebar-well">
    <div class="sidebar-container">
        <div class="sidebar-block hidden-sm hidden-xs">
            <h3 class="sidebar-header first-header">Recent Posts</h3>
            <% if !recent_posts.blank? %>
                <% recent_posts.each do |post| %>
                    <div class="post-block">
                        <div class="post-img-block">
                            <div class="thumb-container">
                                <% if !post.img_one.blank? %>
                                    <%= image_tag(post.img_one.url(:thumb), class:"post-thumbnail-img") %>
                                <% else %>
                                    <%= image_tag(club.club_logo.url(:thumb), class:"post-thumbnail-img") %>
                                <% end %>
                            </div>
                        </div>
                        <div class="post-content-block">
                            <p class="post-title"><%= link_to truncate(post.title, length:30), page_path(post) %></p>
                            <small class="post-description"><%= sanitize(post.content_one.truncate(60)) %></small>
                        </div>
                    </div>
                <% end %> 
            <% end %>  
        </div>
        <div class="sidebar-block">
            <h3 class="sidebar-header">Upcoming Events</h3>
            <% if !upcoming_events.blank? %>
                <% upcoming_events.each do |post| %>
                     <div class="post-block">
                        <div class="post-img-block">
                            <div class="thumb-container">
                                <% if !post.img_one.blank? %>
                                    <%= image_tag(post.img_one.url(:thumb), class:"post-thumbnail-img") %>
                                <% else %>
                                    <%= image_tag(club.club_logo.url(:thumb), class:"post-thumbnail-img") %>
                                <% end %>
                            </div>
                        </div>
                        <div class="post-content-block">
                            <p class="post-title"><%= link_to truncate(post.title, length:30), page_path(post) %></p>
                            <small class="post-description"><%= sanitize(post.content_one.truncate(60)) %></small>
                        </div>
                    </div>
                <% end %>   
            <% end %> 
        </div>
        <div class="sidebar-block">
            <h3 class="sidebar-header">Club News</h3>
            <% if !club_news.blank? %>
                <% club_news.each do |post| %>
                     <div class="post-block">
                        <div class="post-img-block">
                            <div class="thumb-container">
                                <% if !post.img_one.blank? %>
                                    <%= image_tag(post.img_one.url(:thumb), class:"post-thumbnail-img") %>
                                <% else %>
                                    <%= image_tag(club.club_logo.url(:thumb), class:"post-thumbnail-img") %>
                                <% end %>
                            </div>
                        </div>
                        <div class="post-content-block">
                            <p class="post-title"><%= link_to truncate(post.title, length:30), page_path(post) %></p>
                            <small class="post-description"><%= sanitize(post.content_one.truncate(60)) %></small>
                        </div>
                    </div>
                <% end %>   
            <% end %>
        </div>
    </div>
    <div class="sidebar-logo-container hidden-xs hidden-sm">
        <% if club.blank? %>
            <%= image_tag("charity-number-logo.png") %>
        <% else %>
            <% if !club.club_logo.blank? %>
                <%= image_tag(club.club_logo) %>
            <% end %>
        <% end %>
    </div>
</div>
