<style>
    .thumb-container {
        position: relative;
    }
    
    .thumb-container img {
        width: auto !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: none !important;
    }
</style>
<div class="sidebar-well">
    <div class="sidebar-container">
        <div class="sidebar-block hidden-sm hidden-xs">
            <h3 class="sidebar-header first-header">Recent Posts</h3>
            <% if !recent_posts.blank? %>
                <% recent_posts.each do |post| %>
                    <div class="post-block">
                        <% if post.site_page == "event" %>
                            <div class="post-img-block">
                                <div class="thumb-container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                    <p style="margin: 0;"><%= post.date_of_event.strftime("%-d") %></p>
                                    <p style="margin: -6px 0 0 0;"><%= post.date_of_event.strftime("%^b") %></p>
                                </div>
                            </div>
                        <% else %>
                            <div class="post-img-block">
                                <div class="thumb-container">
                                    <% if !post.img_one.blank? %>
                                        <%= image_tag(post.img_one.url(:thumb), class:"post-thumbnail-img") %>
                                    <% else %>
                                        <%= image_tag(club.club_logo.url(:thumb), class:"post-thumbnail-img") %>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    
                        <div class="post-content-block">
                            <p class="post-title">
                                <% if post.site_page == "about" %>
                                    <%= link_to truncate(post.title, length:30, separator: /\s/), about_us_path(anchor: handlise(post.title)) %>
                                <% else %>
                                    <%= link_to truncate(post.title, length:30, separator: /\s/), page_path(post) %>
                                <% end %>
                            </p>
                            <small class="post-description"><%= sanitize(post.content_one.truncate(60, separator: /\s/)) %></small>
                        </div>
                    </div>
                <% end %> 
            <% end %>  
        </div>
        <div class="sidebar-block">
            <h3 class="sidebar-header">Upcoming Events</h3>
            <% if !upcoming_events.blank? %>
                <% upcoming_events.each do |post| %>
                     <div class="post-block">
                        <div class="post-img-block">
                            <div class="thumb-container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <p style="margin: 0;"><%= post.date_of_event.strftime("%-d") %></p>
                                <p style="margin: -6px 0 0 0;"><%= post.date_of_event.strftime("%^b") %></p>
                            </div>
                        </div>
                        <div class="post-content-block">
                            <p class="post-title"><%= link_to truncate(post.title, length:30, separator: /\s/), page_path(post) %></p>
                            <small class="post-description"><%= sanitize(post.content_one.truncate(60, separator: /\s/)) %></small>
                        </div>
                    </div>
                <% end %>   
            <% end %> 
        </div>
        <div class="sidebar-block">
            <h3 class="sidebar-header">Club News</h3>
            <% if !club_news.blank? %>
                <% club_news.each do |post| %>
                     <div class="post-block">
                        <div class="post-img-block">
                            <div class="thumb-container">
                                <% if !post.img_one.blank? %>
                                    <%= image_tag(post.img_one.url(:thumb), class:"post-thumbnail-img") %>
                                <% else %>
                                    <%= image_tag(club.club_logo.url(:thumb), class:"post-thumbnail-img") %>
                                <% end %>
                            </div>
                        </div>
                        <div class="post-content-block">
                            <p class="post-title"><%= link_to truncate(post.title, length:30, separator: /\s/), page_path(post) %></p>
                            <small class="post-description"><%= sanitize(post.content_one.truncate(60, separator: /\s/)) %></small>
                        </div>
                    </div>
                <% end %>   
            <% end %>
        </div>
    </div>
    <div class="sidebar-logo-container">
        <% if club.blank? %>
            <%= image_tag("coloured_phab_logo.jpg") %>
        <% else %>
            <% if !club.club_logo.blank? %>
                <%= image_tag(club.club_logo, class:"hidden-xs hidden-sm") %>
            <% end %>
            <% if club.charity_number.present? %>
                <p style="font-size: 16px; text-align: center; color: #56A644; font-weight: bold;">Charity Number: <%= club.charity_number %></p>
            <% end %>
        <% end %>
    </div>
</div>
