<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><% if !club.blank? && !club.club_name.blank? %><%= club.club_name %><% else %> Phab <% end %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'phab-icon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    .blank-object {
      text-align: right !important;
    }
    .content li {
      list-style: disc !important;
    }
    .dropdown-menu li,
    li.dropdown {
       list-style: none !important;
    }
    .btn-danger {
      color: white !important;
    }
    
    trix-toolbar .trix-button-row {
      flex-wrap: wrap !important;
    }
  </style>
  <%= render 'layouts/admin_navigation' %>  
  <body class="admin">
    <div class="flash-container text-center col-xs-12">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}"  %>
      <% end %>
    </div>
    <div class="sidebar-wrapper"  id="mobile_side_menu">
        <%= render 'layouts/admin_sidebar' %>
    </div>
    <div class="admin-body">
        <%= yield %>
        <% unless params[:controller] === "pictures" || params[:controller] === "galleries" %>
          <%= render "layouts/save_bar" %>
        <% end %>
    </div>
    
  </body>
</html>
<script>
  $(document).on("turbolinks:load", function() {
    $("#save_bar").css("bottom", "-60px");
    $('[data-toggle="tooltip"]').tooltip(); 
    $('.alert').delay(5000).fadeOut(2000);
    $("#fake_submit_btn").html($("input[type='submit']").val())
    
    $("body").on("click", "#fake_submit_btn", function() {
      $("input[type='submit']").click();
    })
    
    $("body").on("click change", "input, textarea, trix-editor", function() {
      $("#save_bar").css("bottom", 0);
    });
  });
</script>