<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Phab <% if !club.blank? && !club.club_name.blank? %> - <%= club.club_name %><% end %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'phab-icon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/admin_navigation' %>  
  <body class="admin">
    <div class="flash-container text-center col-xs-12">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}"  %>
      <% end %>
    </div>
    <div class="sidebar-wrapper"  id="mobile_side_menu">
        <%= render 'layouts/admin_sidebar' %>
    </div>
    <div class="admin-body">
        <%= yield %>    
    </div>
    
  </body>
</html>
<script>
  $(document).on("turbolinks:load", function() {
    $('[data-toggle="tooltip"]').tooltip(); 
    $('.alert').delay(5000).fadeOut(2000);
  });
</script>