<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Phab <% if !club.blank? && !club.club_name.blank? %> - <%= club.club_name %><% end %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'phab-icon.ico' %>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%#= stylesheet_link_tag "output.css" %>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>    -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <style>
    @media (max-width: 500px) {
        .home-content {
            margin-left: 15px !important;
        }
    }
  </style>
  <%= render 'layouts/navigation' %>  
  <body>
    <div class="flash-container text-center col-xs-12">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}"  %>
      <% end %>
    </div>
    <%= render 'layouts/contact_sidebar' %>
    <%= yield %>
  </body>
  <%#= render 'layouts/footer' %>
</html>
<script>

  if ($(window).width() > 992) {
    $navbar = $("#navbar");
  } else {
    $navbar = $("#mob_navbar");
  }

  var scrolled = false;
  
  $(window).scroll(function() {
    
      if($(window).scrollTop() > 10 && scrolled == false){
          $("#pointer_scroll").fadeOut(300);
          $('#navbar').stop().animate({height : '120px'}, 500);
          $('.affiliated-to').stop().animate({top : '25px', right: '120px'}, 500);
          $('.navbar__beb-logo').stop().animate({top : '60px'}, 500);
          $('.navbar__beb-logo--img').stop().animate({width : '120px'}, 500);
          // $('.navbar__links').stop().animate({width : '80%'}, 500);
          $('.navbar__charity-number').stop().animate({width : '80px', top : '60px'}, 500);
          $('.header').css("transform", 'translateY(-60px)');
          scrolled = true;
      } else if($(window).scrollTop() <= 10) {
          $("#pointer_scroll").fadeIn(300);
          $('#navbar').stop().animate({height : '180px'}, 500);
          $('.affiliated-to').stop().animate({top : '40px', right: '140px'}, 500);
          $('.navbar__beb-logo').stop().animate({top : '100px'}, 500);
          $('.navbar__beb-logo--img').stop().animate({width : '160px'}, 500);
          // $('.navbar__links').stop().animate({width : '95%'}, 500);
          $('.navbar__charity-number').stop().animate({width : '120px', top : '100px'}, 500);
          $('.header').css("transform", 'translateY(0px)');
          scrolled = false;
      }
  });

  $(document).on("turbolinks:load", function() {
     
    $('.alert').delay(5000).fadeOut(2000);
    if ($(window).width() <= 1066) {
      removeContainerClasses();
    }
    $(window).on('resize', function(){
      $isMobile = ($(window).width() <= 769) ? true : false;
      var win = $(this);
      if (win.width() <= 1066) { 
        removeContainerClasses();
      }
    });
    
    
    
    var lastScrollTop = 0;
    $(window).scroll(function(event){
      var st = $(this).scrollTop();
      var open = $("#sidebar_block").hasClass("sidebar-open");
      if (st > lastScrollTop && !open){
          $('#icon_bar').css("transform", "translateX(-100%)");
      } else {
          $('#icon_bar').css("transform", "translateX(0)");
      }
      lastScrollTop = st;
    });

  });
  
  function removeContainerClasses() {
    $("div[id^='container_']").each( function() {
      $(this).find(".container").removeClass("container"); 
    });
  }
</script>