<!DOCTYPE html>
<html>
  <head>
    <title>I Am Phab <% if !club.club_name.blank? %> - <%= club.club_name %><% end %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'phab-icon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/navigation' %>
  <body style="
    <% if !club.blank? && !club.bg_image.blank? %>
      background-image: linear-gradient(
      to right bottom, 
      rgba(86, 166, 68, 0.1), 
      rgba(86, 166, 68, 0.8)),
      url(<%= club.bg_image.url %>);
      background-size: cover;
    <% else %>
      background: linear-gradient(to right bottom, rgba(86, 166, 68, 0.1), rgba(86, 166, 68, 0.8));
    <% end %>
  ">
    <div class="flash-container text-center col-xs-12">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}"  %>
      <% end %>
    </div>
    <!--<div class="sidebar">-->
    <!--  <div class="leader-block" id="leader_block"></div>-->
    <!--  <div class="date-time-block" id="date_time_block"></div>-->
    <!--  <div class="leader-block" id="leader_block"></div>-->
    <!--  <div class="icon-bar" id="icon_bar">-->
    <!--    <a href="javascript:void(0);" id="club_leader_btn" class="facebook"><i class="fa fa-2x fa-user"></i></a> -->
        <!--<a href="#" class="twitter"><i class="fa fa-2x fa-phone"></i></a> -->
        <!--<a href="#" class="google"><i class="fa fa-2x fa-envelope"></i></a> -->
    <!--    <a href="javascript:void(0);" id="club_dates_btn" class="linkedin"><i class="fa fa-2x fa-calendar"></i></a>-->
    <!--    <a href=javascript:void(0);" id="club_address_btn" class="youtube"><i class="fa fa-2x fa-map-marker"></i></a> -->
    <!--  </div>-->
    <!--</div>-->
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
<script>
  $(document).ready( function() {
    $('.alert').delay(1000).fadeOut(4000);
  });
</script>